@import './variables.css';

.link,
.link:visited {
  font-size: var(--fs-subtitle);
  color: var(--color-accent);
  display: inline-flex;
  gap: 5px;
  align-items: center;
}
.link:hover {
  text-decoration: underline;
}

.linkIcon {
  height: var(--fs-subtitle);
  width: auto !important;
}