@import './variables.css';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-body-background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* contain elements to their container width */
code, pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


/* display: none */
.d-none {
  display: none;
}





/* button - more-items */ 
.btn.more-items {
  background: var(--color-accent);
  color: var(--color-content-background);
  padding: 6px 20px;
  /* margin: 0 20px; */
  font-size: 0.95rem;
  font-weight: bold;
  text-align: center;
}
.btn.more-items:hover {
  background-color: rgba(var(--accent-rgb), 0.85);
}

/* link button - more items */
.link-btn.more-items {
  margin: 10px 0;
  justify-self: flex-start;
  display: inline-flex;
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--color-accent);
}



/* root */
.content {
  min-height: 100vh;
  display: grid;
  justify-content: stretch;
  background: var(--color-body-background);
}
@media screen and (min-width: 640px) {
  .content {
    justify-content: center;
  }
}


/* view */
.page {
  margin: 20px 0;
  display: grid;
  word-break: break-word;
}
/* .page > .stories {

}
.page > .sidebar {
  
} */

@media screen and (min-width: 640px) {
  .page {
    margin: 20px;
  }
}
@media screen and (min-width: 960px) {
  .page {
    width: clamp(300px, 80vw, 1000px);
    grid-template-columns: 1fr 300px;
    column-gap: 25px;
  }
}


/* components > UserContentPanel.js */
.content-group {
  display: grid;
  align-items: center;
  row-gap: 10px;
}



/* view > UserView.js */
.user-detail {
  row-gap: 20px;
}
.user-detail .sidebar {
  grid-row: 1;
}
@media screen and (min-width: 960px) {
  .user-detail {
    row-gap: unset;
  }
  .user-detail .sidebar {
    grid-row: unset;
  }
}

/* views/UserView.js > aside.user-contents */
.user-detail .user-contents {
  display: grid;
  align-content: flex-start;
  justify-content: stretch;
  row-gap: 5px;
}
@media screen and (min-width: 640px) {
  .user-detail .user-contents {
    row-gap: 10px;
  }
}
.user-detail .user-contents > .btn.more-items {
  margin-top: 10px;
}


/* views/UserView.js > section.sidebar > user-profile */
.user-detail .user-profile {
  border-radius: var(--corner-rounding);
  background: var(--color-content-background);
}
.user-detail .user-profile > header {
  padding: 0 10px;
  background-color: var(--color-accent);
  border-radius: var(--corner-rounding) var(--corner-rounding) 0 0;
}
.user-detail .user-image {
  border-radius: var(--corner-rounding);
  background: var(--color-content-background);
  transform: translateY(25px);
  height: 90px;
  width: 90px;
  display: grid;
  color: var(--color-content-background);
}
.user-detail .user-image > div {
  border-radius: var(--corner-rounding);
  margin: 4px;
  display: grid;
  place-items: center;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
}
.user-detail .user-profile > main {
  padding: 25px 15px;
  display: grid;
  row-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}
.user-detail .user-heading {
  font-size: 0.75rem;
  grid-column: 1 / 3;
}
.user-detail .user-info-group {
  display: grid;
  row-gap: 2px;
}
.user-detail .user-info-group .info-label {
  font-size: 0.9rem;
  font-weight: bold;
}
.user-detail .user-info-group .info-label + span {
  font-size: 0.80rem;
  color: var(--color-subtitle1)
}
.user-detail .user-info-group .info-label + span > .inline-glyph {
  color: var(--color-accent);
}
.user-detail .user-original-link {
  grid-column: 1 / 3;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.user-detail .user-original-link > .glyph {
  width: 18px;
  height: 18px;
}


/* view > story detail */
.story-detail {
  display: grid;
  grid-template-columns: unset;
  grid-template-rows: auto 1fr;
  row-gap: 10px;
  align-items: flex-start;
}
.story-detail .comments {
  padding: 10px 0;
  border-radius: var(--corner-rounding);
  background: var(--color-content-background);
  row-gap: 20px;
}
.story-detail .story-item {
  cursor: unset;
}

.story-detail .comments > .comment-item {
  padding: 10px 10px 0;
}
.story-detail .comments > .comment-item:not(:first-of-type) {
  border-top: 1px solid var(--color-body-background);
}
@media screen and (min-width: 640px) {
  .story-detail {
    row-gap: 20px;
  }
  .story-detail .comments {
    padding: 20px 10px;
    row-gap: 30px;
  }
  .story-detail .comments > .comment-item,
  .story-detail .comments > .comment-item:not(:first-of-type) {
    border: unset;
    padding: unset;
  }
}


/* components > commentitem */
.comments {
  display: grid;
  row-gap: 30px;
}
.comments .comment-replies > .comment-item {
  margin-top: 10px;
  margin-left: -15px;
}
.comments .comment-replies > .comment-item:first-of-type {
  margin-top: 20px;
}
.comment-item {
  --header-height: 30px;
  display: grid;
  grid-template-columns: var(--header-height) 1fr;
  column-gap: 8px;
}
.comment-item .comment-expansion {
  display: grid;
  grid-template-rows: var(--header-height) 1fr;
  place-items: center;
}
.comment-item .comment-expansion .user-avatar {
  width: calc(var(--header-height) - 2px);
  height: calc(var(--header-height) - 2px);
  background: var(--color-accent);
  border-radius: 100%;
  display: grid;
  place-items: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.comment-item .comment-expansion .vertical-toggle {
  border-left: 2px solid var(--color-body-background);
  height: calc(100% - 10px);
  align-self: flex-end;
}
/* remove vertical toggle on top level comments on mobile */
.comments > .comment-item > .comment-expansion > .vertical-toggle {
  display: none;
}
@media screen and (min-width: 640px) {
  .comments > .comment-item > .comment-expansion > .vertical-toggle {
    display: block;
  }
}
.comment-item section.comment-content {
  display: grid;
  row-gap: 5px;
}
.comment-item header.comment-header {
  height: var(--header-height);
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--color-subtitle1);
  display: inline-flex;
  align-items: center;
}
.comment-item header.comment-header .comment-by {
  color: var(--color-title);
}
.comment-item header.comment-header .comment-time {
  font-weight: normal;
}
.comment-item main.comment-text {
  word-break: break-word;
  font-size: 0.9rem;
}
@media screen and (min-width: 640px) {
  .comment-item main.comment-text {
    font-size: 1rem;
  }
}
.comment-item main.comment-text > * {
  margin-top: 8px;
}
.comment-item section.comment-content .comment-replies {
  display: grid;
  row-gap: 10px;
}




/*  */
.comment-card {
  background: var(--color-content-background);
}

.comment-card > .comment-parent-story {
  display: grid;
  grid-template-columns: 30px 1fr;
  /* column-gap: 10px; */
  margin: 10px 10px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(var(--body-background-rgb), 0.7);
}
.comment-card > .comment-parent-story .glyph {
  width: 100%;
  height: 100%;
  padding: 0 10px 0 1px;
}
.comment-card > .comment-parent-story .parent-story-content {
  font-size: 0.75rem;
  line-height: 1.5;
}
.comment-card > .comment-parent-story .parent-story-content > * {
  word-break: break-word;
  display: inline-block;
}
.comment-card > .comment-parent-story .glyph,
.comment-card > .comment-parent-story .parent-story-content > span,
.comment-card > .comment-parent-story .parent-story-content > .parent-story-by {
  color: var(--color-subtitle1);
}
.comment-card > .comment-parent-story .parent-story-content > .story-url > .inline-glyph {
  margin-left: 5px;
}

.comment-card > .comment-content .comment-expansion {
  grid-template-rows: unset;
}
.comment-card > .comment-content .comment-expansion .vertical-toggle {
  border-left-style: dashed;
}

.comment-card > .comment-content {
  padding: 0 10px 10px 5px;
}
.comment-card > .comment-content .comment-item {
  column-gap: 3px;
}
.comment-card > .comment-content .comment-item .comment-item {
  margin-left: -12px;
}
.comment-card > .comment-content .comment-item > .comment-content {
  row-gap: 5px;
  margin-top: 10px;
}
.comment-card > .comment-content .comment-item > .comment-content > .comment-header {
  height: unset;
}
.comment-card > .comment-content .comment-item.accented-background > .comment-content {
  padding: 8px 10px;
  background: rgba(var(--accent-rgb), 0.15);
  border-radius: var(--corner-rounding);
}







/* catalog */
.catalog {
  grid-template-columns: unset;
}
.catalog > .stories {
  display: grid;
  row-gap: 5px;
  align-content: flex-start;
}
@media screen and (min-width: 640px) {
  .catalog > .stories {
    row-gap: 10px;
  }
}
.catalog .btn.more-items {
  margin-top: 10px;
}