@import './variables.css';

.header {
  padding: 8px 20px;
  background: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.logoImage {
  width: 30px;
  height: 30px;
}
.logoText {
  font-size: 24px;
}
