*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* contain elements to their container width */
code, pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

:root {
  --border-radius: 4px;
  --accent-rgb: 255, 102, 0;
  --color-accent: rgb(var(--accent-rgb));
  --app-background-rgb: 218, 224, 230;
  --color-app-background: rgb(var(--app-background-rgb));
  --content-background-rgb: 255, 255, 255;
  --color-content-background: rgba(var(--content-background-rgb), 1);
  --color-title: rgb(34, 34, 34);
  --color-subtitle1: rgb(135, 138, 140);
  --color-subtitle2: rgb(124, 124, 124);
  --color-action: rgb(135, 138, 140);
  --color-action-hover: rgba(26, 26, 27, 0.1);
  --color-action-active: rgba(135, 138, 140, 0.1);
  --size-glyph: 18px;
}

/* display: none */
.d-none {
  display: none;
}

/* override anchor style */
a,
a:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a.link-btn:hover,
a.link-btn:active {
  text-decoration: underline;
}


/* button */
.btn,
.btn:visited {
  padding: 2px;
  transition: all 100ms ease-in-out;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}
.btn:hover {
  background: var(--color-action-hover);
}
.btn:active {
  transform: scale(0.975);
}

/* link button */
a.link-btn,
a.link-btn:visited,
button.link-btn,
button.link-btn:visited,
.link-btn a,
.link-btn a:visited,
.link-btn button,
.link-btn button:visited {
  background: none;
  cursor: pointer;
  text-decoration: none;
  border: none;
}
a.link-btn:hover,
button.link-btn:hover,
.link-btn a:hover,
.link-btn button:hover {
  text-decoration: underline;
}
.link-btn a {
  color: var(--color-accent);
}

a.accented-link {
  color: var(--color-accent);
}


/* button - more-items */ 
.btn.more-items {
  background: var(--color-accent);
  color: var(--color-content-background);
  padding: 6px 20px;
  /* margin: 0 20px; */
  font-size: 0.95rem;
  font-weight: bold;
  text-align: center;
}
.btn.more-items:hover {
  background-color: rgba(var(--accent-rgb), 0.85);
}

/* link button - more items */
.link-btn.more-items {
  margin: 10px 0;
  justify-self: flex-start;
  display: inline-flex;
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--color-accent);
}


/* navigation items */
.navigation-group {
  border-radius: var(--border-radius);
  background: var(--color-content-background);
  padding: 10px 15px;
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}
.navigation-group > .navigation-item,
.navigation-group > .navigation-item:visited {
  padding: 7px 10px;
  border: none;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}
.navigation-group > .navigation-item:hover {
  background: var(--color-action-hover);
}
.navigation-group > .navigation-item:active {
  transform: scale(0.975);
}
.navigation-group > .navigation-item > .glyph {
  height: 20px;
  width: 20px;
}
.navigation-group > .navigation-item.active {
  background: var(--color-action-active);
  color: var(--color-accent);
}



/* root */
.content {
  min-height: 100vh;
  display: grid;
  justify-content: stretch;
  background: var(--color-app-background);
}
@media screen and (min-width: 640px) {
  .content {
    justify-content: center;
  }
}


/* view */
.page {
  margin: 20px 0;
  display: grid;
  word-break: break-word;
}
/* .page > .stories {

}
.page > .sidebar {
  
} */

@media screen and (min-width: 640px) {
  .page {
    margin: 20px;
  }
}
@media screen and (min-width: 960px) {
  .page {
    width: clamp(300px, 80vw, 1000px);
    grid-template-columns: 1fr 300px;
    column-gap: 25px;
  }
}


/* components > UserContentPanel.js */
.content-group {
  display: grid;
  align-items: center;
  row-gap: 10px;
}



/* view > UserDetailView.js */
.user-detail {
  row-gap: 20px;
}
.user-detail .sidebar {
  grid-row: 1;
}
@media screen and (min-width: 960px) {
  .user-detail {
    row-gap: unset;
  }
  .user-detail .sidebar {
    grid-row: unset;
  }
}

/* views/UserDetailView.js > aside.user-contents */
.user-detail .user-contents {
  display: grid;
  align-content: flex-start;
  justify-content: stretch;
  row-gap: 5px;
}
@media screen and (min-width: 640px) {
  .user-detail .user-contents {
    row-gap: 10px;
  }
}
.user-detail .user-contents > .btn.more-items {
  margin-top: 10px;
}


/* views/UserDetailView.js > section.sidebar > user-profile */
.user-detail .user-profile {
  border-radius: var(--border-radius);
  background: var(--color-content-background);
}
.user-detail .user-profile > header {
  padding: 0 10px;
  background-color: var(--color-accent);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.user-detail .user-image {
  border-radius: var(--border-radius);
  background: var(--color-content-background);
  transform: translateY(25px);
  height: 90px;
  width: 90px;
  display: grid;
  color: var(--color-content-background);
}
.user-detail .user-image > div {
  border-radius: var(--border-radius);
  margin: 4px;
  display: grid;
  place-items: center;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
}
.user-detail .user-profile > main {
  padding: 25px 15px;
  display: grid;
  row-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}
.user-detail .user-heading {
  font-size: 0.75rem;
  grid-column: 1 / 3;
}
.user-detail .user-info-group {
  display: grid;
  row-gap: 2px;
}
.user-detail .user-info-group .info-label {
  font-size: 0.9rem;
  font-weight: bold;
}
.user-detail .user-info-group .info-label + span {
  font-size: 0.80rem;
  color: var(--color-subtitle1)
}
.user-detail .user-info-group .info-label + span > .inline-glyph {
  color: var(--color-accent);
}
.user-detail .user-original-link {
  grid-column: 1 / 3;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.user-detail .user-original-link > .glyph {
  width: 18px;
  height: 18px;
}


/* view > story detail */
.story-detail {
  display: grid;
  grid-template-columns: unset;
  grid-template-rows: auto 1fr;
  row-gap: 10px;
  align-items: flex-start;
}
.story-detail .comments {
  padding: 10px 0;
  border-radius: var(--border-radius);
  background: var(--color-content-background);
  row-gap: 20px;
}
.story-detail .story-item {
  cursor: unset;
}

.story-detail .comments > .comment-item {
  padding: 10px 10px 0;
}
.story-detail .comments > .comment-item:not(:first-of-type) {
  border-top: 1px solid var(--color-app-background);
}
@media screen and (min-width: 640px) {
  .story-detail {
    row-gap: 20px;
  }
  .story-detail .comments {
    padding: 20px 10px;
    row-gap: 30px;
  }
  .story-detail .comments > .comment-item,
  .story-detail .comments > .comment-item:not(:first-of-type) {
    border: unset;
    padding: unset;
  }
}


/* components > commentitem */
.comments {
  display: grid;
  row-gap: 30px;
}
.comments .comment-replies > .comment-item {
  margin-top: 10px;
  margin-left: -15px;
}
.comments .comment-replies > .comment-item:first-of-type {
  margin-top: 20px;
}
.comment-item {
  --header-height: 30px;
  display: grid;
  grid-template-columns: var(--header-height) 1fr;
  column-gap: 8px;
}
.comment-item .comment-expansion {
  display: grid;
  grid-template-rows: var(--header-height) 1fr;
  place-items: center;
}
.comment-item .comment-expansion .user-avatar {
  width: calc(var(--header-height) - 2px);
  height: calc(var(--header-height) - 2px);
  background: var(--color-accent);
  border-radius: 100%;
  display: grid;
  place-items: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.comment-item .comment-expansion .vertical-toggle {
  border-left: 2px solid var(--color-app-background);
  height: calc(100% - 10px);
  align-self: flex-end;
}
/* remove vertical toggle on top level comments on mobile */
.comments > .comment-item > .comment-expansion > .vertical-toggle {
  display: none;
}
@media screen and (min-width: 640px) {
  .comments > .comment-item > .comment-expansion > .vertical-toggle {
    display: block;
  }
}
.comment-item section.comment-content {
  display: grid;
  row-gap: 5px;
}
.comment-item header.comment-header {
  height: var(--header-height);
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--color-subtitle1);
  display: inline-flex;
  align-items: center;
}
.comment-item header.comment-header .comment-by {
  color: var(--color-title);
}
.comment-item header.comment-header .comment-time {
  font-weight: normal;
}
.comment-item main.comment-text {
  font-size: 0.9rem;
}
@media screen and (min-width: 640px) {
  .comment-item main.comment-text {
    font-size: 1rem;
  }
}
.comment-item main.comment-text > * {
  margin-top: 8px;
}
.comment-item section.comment-content .comment-replies {
  display: grid;
  row-gap: 10px;
}







/* components/ContentItemStoryCard */
.content-card {
  border-radius: var(--border-radius);
}

.story-card {
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: 40px 1fr;
  user-select: none;
  cursor: pointer;
}
/* score left column */
.story-card aside.story-score {
  padding: 10px;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  background: rgba(var(--content-background-rgb), 0.7);
  display: grid;
  word-break: unset;
}
.story-card aside.story-score span {
  font-size: 0.75rem;
  font-weight: bold;
  word-break: keep-all;
  text-align: center;
}
/* content right column */
.story-card section.story-content {
  padding: 10px 8px 4px 8px;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  background: var(--color-content-background);
}
.story-card section.story-content header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  font-size: 0.75rem;
  color: var(--color-subtitle1);
}
.story-card section.story-content main {
  display: grid;
  justify-items: flex-start;
}
.story-card section.story-content .story-title {
  font-size: 1.2rem;
  color: var(--color-title);
}
.story-card section.story-content .story-url {
  margin-top: 5px;
  font-size: 0.75rem;
  color: var(--color-accent);
  display: flex;
  align-items: center;
}
.story-card section.story-content .story-url > span {
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
.story-card section.story-content .story-url > .inline-glyph {
  margin-left: 4px;
}
.story-card section.story-content .story-url-btn > .glyph {
  height: var(--size-glyph);
  width: var(--size-glyph);
  color: var(--color-action);
}
.story-card section.story-content .story-text {
  margin-top: 10px;
}
.story-card section.story-content footer {
  margin-top: 30px;
  display: flex;
  column-gap: 4px;
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--color-action);
}
.story-card section.story-content footer .btn {
  padding: 5px 7px;
  display: flex;
  align-items: center;
}
.story-card section.story-content footer .btn > .glyph {
  margin-right: 6px;
  height: var(--size-glyph);
  width: var(--size-glyph);
}


/*  */
.comment-card {
  background: var(--color-content-background);
}

.comment-card > .comment-parent-story {
  display: grid;
  grid-template-columns: 30px 1fr;
  /* column-gap: 10px; */
  margin: 10px 10px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(var(--app-background-rgb), 0.7);
}
.comment-card > .comment-parent-story .glyph {
  width: 100%;
  height: 100%;
  padding: 0 10px 0 1px;
}
.comment-card > .comment-parent-story .parent-story-content {
  font-size: 0.75rem;
  line-height: 1.5;
}
.comment-card > .comment-parent-story .parent-story-content > * {
  word-break: break-all;
}
.comment-card > .comment-parent-story .glyph,
.comment-card > .comment-parent-story .parent-story-content > span,
.comment-card > .comment-parent-story .parent-story-content > .parent-story-by {
  color: var(--color-subtitle1);
}
.comment-card > .comment-parent-story .parent-story-content > .story-url > .inline-glyph {
  margin-left: 5px;
}

.comment-card > .comment-content .comment-expansion {
  grid-template-rows: unset;
}
.comment-card > .comment-content .comment-expansion .vertical-toggle {
  border-left-style: dashed;
}

.comment-card > .comment-content {
  padding: 0 10px 10px 5px;
}
.comment-card > .comment-content .comment-item {
  column-gap: 3px;
}
.comment-card > .comment-content .comment-item .comment-item {
  margin-left: -12px;
}
.comment-card > .comment-content .comment-item > .comment-content {
  row-gap: 5px;
  margin-top: 10px;
}
.comment-card > .comment-content .comment-item > .comment-content > .comment-header {
  height: unset;
}
.comment-card > .comment-content .comment-item.accented-background > .comment-content {
  padding: 8px 10px;
  background: rgba(var(--accent-rgb), 0.15);
  border-radius: var(--border-radius);
}







/* catalog */
.catalog {
  grid-template-columns: unset;
}
.catalog > .stories {
  display: grid;
  row-gap: 5px;
}
@media screen and (min-width: 640px) {
  .catalog > .stories {
    row-gap: 10px;
  }
}