*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* contain elements to their container width */
code, pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

:root {
  --border-radius: 4px;
  --accent-rgb: 255, 102, 0;
  --color-accent: rgb(var(--accent-rgb));
  --color-app-background: rgb(218, 224, 230);
  --content-background-rgb: 255, 255, 255;
  --color-content-background: rgba(var(--content-background-rgb), 1);
  --color-title: rgb(34, 34, 34);
  --color-subtitle1: rgb(135, 138, 140);
  --color-subtitle2: rgb(124, 124, 124);
  --color-action: rgb(135, 138, 140);
  --color-action-hover: rgba(26, 26, 27, 0.1);
  --size-glyph: 18px;
}

/* display: none */
.d-none {
  display: none;
}

/* override anchor style */
a,
a:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a.link-btn:hover,
a.link-btn:active {
  text-decoration: underline;
}


/* button */
.btn,
.btn:visited {
  padding: 2px;
  transition: all 100ms ease-in-out;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}
.btn:hover {
  background: var(--color-action-hover);
}
.btn:active {
  transform: scale(0.95);
}

/* link button */
a.link-btn,
a.link-btn:visited,
button.link-btn,
button.link-btn:visited,
.link-btn a,
.link-btn a:visited,
.link-btn button,
.link-btn button:visited {
  background: none;
  cursor: pointer;
  text-decoration: none;
  border: none;
}
a.link-btn:hover,
button.link-btn:hover,
.link-btn a:hover,
.link-btn button:hover {
  text-decoration: underline;
}
.link-btn a {
  color: var(--color-accent);
}


/* button - more-items */ 
.btn.more-items {
  background: var(--color-accent);
  color: var(--color-content-background);
  padding: 6px 20px;
  margin: 0 20px;
  font-size: 0.95rem;
  font-weight: bold;
  text-align: center;
}
.btn.more-items:hover {
  background-color: rgba(var(--accent-rgb), 0.85);
}

/* link button - more items */
.link-btn.more-items {
  margin: 10px 0;
  justify-self: flex-start;
  display: inline-flex;
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--color-accent);
}



/* root */
.content {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  background: var(--color-app-background);
}


/* view */
.page {
  margin: 20px 0;
  display: grid;
  word-break: break-word;
}
.page > .stories {

}
.page > .sidebar {
  
}

@media screen and (min-width: 640px) {
  .page {
    margin: 20px;
  }
}
@media screen and (min-width: 960px) {
  .page {
    width: clamp(300px, 80vw, 1000px);
    grid-template-columns: 1fr 300px;
    column-gap: 25px;
  }
}


/* components > UserContentPanel.js */
.content-group {
  display: grid;
  align-items: center;
  row-gap: 10px;
}
.story-item {
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: 40px 1fr;
  user-select: none;
  cursor: pointer;
}

section.story-score {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  padding: 10px;
  background: rgba(var(--content-background-rgb), 0.7);
  display: grid;
  word-break: unset;
}
section.story-score span {
  text-align: center;
  font-size: 0.75rem;
  font-weight: bold;
  word-break: keep-all;
}

section.story-content {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  padding: 10px 8px 4px 8px;
  background: var(--color-content-background);
}
section.story-content header {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  color: var(--color-subtitle1);
}
section.story-content main {
  display: grid;
  justify-items: flex-start;
}
section.story-content .story-title {
  font-size: 1.2rem;
  color: var(--color-title);
}
section.story-content .story-url {
  font-size: 0.75rem;
  color: var(--color-accent);
  display: flex;
  align-items: center;
  margin-top: 5px;
}
section.story-content .story-url > span {
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
section.story-content .story-url > .inline-glyph {
  margin-left: 4px;
}
section.story-content .story-url-btn > .glyph {
  height: var(--size-glyph);
  width: var(--size-glyph);
  color: var(--color-action);
}
section.story-content .story-text {
  margin-top: 10px;
}
section.story-content footer {
  margin-top: 30px;
  display: flex;
  column-gap: 4px;
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--color-action);
}
section.story-content footer .btn {
  padding: 5px 7px;
  display: flex;
  align-items: center;
}
section.story-content footer .btn > .glyph {
  margin-right: 6px;
  height: var(--size-glyph);
  width: var(--size-glyph);
}



/* view > UserDetailView.js */
.user-detail {
  
}

/* views/UserDetailView.js > aside.user-contents */
.user-contents {
  display: grid;
  align-content: flex-start;
  row-gap: 10px;
}
.user-contents > header {
  border-radius: var(--border-radius);
  background: var(--color-content-background);
  padding: 10px 15px;
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}
.user-contents > header > .btn {
  padding: 5px 10px;
  display: flex;
  gap: 8px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.user-contents > header .btn .glyph {
  height: 20px;
  width: 20px;
}

/* views/UserDetailView.js > section.sidebar > user-profile */
.user-detail .user-profile {
  border-radius: var(--border-radius);
  background: var(--color-content-background);
}
.user-detail .user-profile > header {
  padding: 0 10px;
  background-color: var(--color-accent);
}
.user-detail .user-image {
  border-radius: var(--border-radius);
  background: var(--color-content-background);
  transform: translateY(25px);
  height: 90px;
  width: 90px;
  display: grid;
  color: var(--color-content-background);
}
.user-detail .user-image > div {
  border-radius: var(--border-radius);
  margin: 4px;
  display: grid;
  place-items: center;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
}
.user-detail .user-profile > main {
  padding: 25px 15px;
  display: grid;
  row-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}
.user-detail .user-heading {
  font-size: 0.75rem;
  grid-column: 1 / 3;
}
.user-detail .user-info-group {
  display: grid;
  row-gap: 2px;
}
.user-detail .user-info-group .info-label {
  font-size: 0.9rem;
  font-weight: bold;
}
.user-detail .user-info-group .info-label + span {
  font-size: 0.80rem;
  color: var(--color-subtitle1)
}
.user-detail .user-info-group .info-label + span > .inline-glyph {
  color: var(--color-accent);
}



/* view > story detail */
div.story-detail.page {
  display: grid;
  grid-template-columns: unset;
  grid-template-rows: auto 1fr;
  row-gap: 20px;
  align-items: flex-start;
}
.story-detail .comments {
  padding: 20px 10px;
  border-radius: var(--border-radius);
  background: var(--color-content-background);
}
.story-detail .story-item {
  cursor: unset;
}


/* components > commentitem */
.comments {
  display: grid;
  row-gap: 30px;
}
.comments .comment-replies > div > .comment-item {
  margin-top: 10px;
  margin-left: -10px;
}
.comments .comment-replies > div:first-of-type > .comment-item {
  margin-top: 20px;
}
.comment-item {
  --header-height: 30px;
  display: grid;
  grid-template-columns: var(--header-height) 1fr;
  column-gap: 8px;
}
.comment-item .comment-expansion {
  display: grid;
  grid-template-rows: var(--header-height) 1fr;
  place-items: center;
}
.comment-item .comment-expansion .user-avatar {
  width: calc(var(--header-height) - 2px);
  height: calc(var(--header-height) - 2px);
  background: var(--color-accent);
  border-radius: 100%;
  display: grid;
  place-items: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.comment-item .comment-expansion .vertical-toggle {
  border-left: 2px solid var(--color-app-background);
  height: calc(100% - 10px);
  align-self: flex-end;
}
.comment-item section.comment-content {
  display: grid;
  row-gap: 5px;
}
.comment-item header.comment-header {
  height: var(--header-height);
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--color-subtitle1);
  display: inline-flex;
  align-items: center;
}
.comment-item header.comment-header .comment-by {
  color: var(--color-title);
}
.comment-item header.comment-header .comment-time {
  font-weight: normal;
}
.comment-item main.comment-text > * {
  margin-top: 8px;
}
.comment-item footer.comment-actions {
  /* margin-bottom: 10px; */
}

.comment-item section.comment-content .comment-replies {
  display: grid;
  row-gap: 10px;
}




/* components/ContentItemStoryCard */
.content-card {
  background: var(--color-content-background);
  border-radius: var(--border-radius);
}