@import './../variables.css';

.button {
  padding: 5px;
  border: none;
  border-radius: var(--corner-rounding);
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  text-decoration: none;
  transition: all 100ms ease-out;
}
.button:visited {
  color: inherit;
}
.button:hover {
  background: var(--color-button-hover);
  text-decoration: none;
}
.button:active {
  transform: scale(0.95);
}

.buttonIcon {
  width: var(--icon-size) !important;
  height: var(--icon-size);
}

.largeButton {
  composes: button;
  padding: 5px 10px;
}