@import './../variables.css';


.comment {
  --side-toggle-width: 40px;
  --children-offset-x: -15px;
  --comment-column-gap: 3px;
  display: grid;
  grid-template-columns: var(--side-toggle-width) 1fr;
  column-gap: var(--comment-column-gap);
}
.comment:not(:first-of-type),
.children {
  margin-top: 15px;
}
.commentMinimized {
  composes: comment;
  grid-template-columns: calc(var(--side-toggle-width) * 2) 1fr;
}
.commentMinimized .contentBody {
  display: none;
}
.commentMinimized .sidePanel {
  grid-template-columns: 40px auto;
}
.commentMinimized .maximizeToggle {
  display: inline-block;
}


.sidePanel {
  display: grid;
  grid-template-rows: var(--side-toggle-width) 1fr;
  justify-items: center;
  align-items: center;
}
.maximizeToggle {
  display: none;
  transform: scaleX(-1);
}
.minimizeToggle {
  height: 100%;
  border-right: 2px solid rgba(var(--body-background-rgb), 0.5);
  transition: border 100ms ease-out;
}
.minimizeToggle:hover {
  border-right-color: var(--color-accent);
}
.minimizeToggle:active {
  border-right-width: 4px;
}

.content {
  display: grid;
  grid-template-rows: var(--side-toggle-width) 1fr;
}
.content > header {
  display: flex;
  align-items: center;
}
.accentedContent {
  composes: content;
  border-radius: var(--corner-rounding);
  background: rgba(var(--accent-rgb), 0.15);
}

.linkButton {
  composes: linkButton from "./Button.module.css";
  margin-left: calc(var(--children-offset-x) * -1);
  font-size: var(--fs-subtitle);
}




.children {
  margin-left: calc(var(--children-offset-x) - var(--comment-column-gap));
}