@import './../variables.css';

.navigationBar {
  padding: 10px;
  border-radius: var(--corner-rounding);
  background: var(--color-content-background);
  display: flex;
  gap: 8px;
}

.navigationItem {
  composes: largeButton from "./Button.module.css";
  border-radius: 20px;
}
.navigationItem.active {
  background: var(--color-button-active);
  color: var(--color-accent);
}
.navigationItem:hover.active {
  background: var(--color-button-hover);
}