@import './../variables.css';

.htmlText {
  padding-top: 8px;
  display: inline-block;
  gap: 0.7rem;
  color: var(--color-dark);
}
.htmlText a {
  color: var(--color-accent);
}
.htmlText p {
  margin-top: 0.8rem;
}