@import './../variables.css';

.storyCard {
  --card-corner-rounding: 0;
  border-radius: var(--card-corner-rounding);
  display: grid;
  grid-template-columns: 40px 1fr;
  cursor: pointer;
}
@media screen and (min-width: 640px) {
  .storyCard  {
    border: 1px solid transparent;
    --card-corner-rounding: var(--corner-rounding);
    transition: border-color 100ms ease-out;
  }
  .storyCard:hover {
    border-color: var(--color-dark);
  }
}
.detailedStoryCard {
  composes: storyCard;
  border: none;
  cursor: unset;
}

.score,
.contentHeader,
.storyLink,
.button {
  font-size: var(--fs-subtitle);
}

.button,
.externalLinkButton {
  composes: button from "./Button.module.css";
}

.score {
  padding: 10px 2px;
  border-radius: var(--card-corner-rounding) 0 0 var(--card-corner-rounding);
  background: rgba(var(--content-background-rgb), 0.7);
  font-weight: bold;
  text-align: center;
  word-break: keep-all;
}

.content {
  padding: 10px 8px 4px 8px;
  border-radius: 0 var(--card-corner-rounding) var(--card-corner-rounding) 0;
  background: var(--color-content-background);
}

.contentHeader,
.contentFooter {
  color: var(--color-subtitle1);
  display: flex;
}

.contentHeader {
  height: 22px;
}
.externalLinkButton {
  margin-left: auto;
  padding: 3px;
}

.title {
  margin-bottom: 2px;
  font-size: var(--fs-title);
  font-weight: bold;
  color: var(--color-dark);
  display: block;
}
.title:hover {
  text-decoration: none;
}

.contentFooter {
  margin-top: 30px;
  gap: 4px;
}
.button {
  padding: 5px 7px;
  gap: 6px;
}